{{ define "main" }}
<style>
	.list-pages {
		margin: 0;
	}
	.list-pages .lh-copy{
		margin: 2em;
	}
	.list-pages{
		padding-left: 0;
	}
</style>

{{ if .Content }}
{{ partial "single" . }}
{{ end }}

<main role="main">
	<ul class="list-pages">
		{{ range .Paginator.Pages }}
		<li class="lh-copy"><a href="{{ .Permalink | relURL }}" class="link f5">{{ .Title }}</a> 
			<br>- <time>{{ .Date.Format "January 02, 2006" }}</time>
		</li>
		{{ end }}
		{{ $paginator := .Paginate ( where .Paginator.Pages "Type" "post" ) 1 }}
	</ul>
</main>

{{ end }}